            .glass {
                background: rgba(255, 255, 255, 0.55);
                border-radius: 16px;
                box-shadow: 0 4px 30px #4747470b;
                backdrop-filter: blur(7.1px);
                border: 1px solid rgba(255, 255, 255, 0.3);
                .btn:hover {
                    background-color: #ff6a6a;
                }
            }
            
            input[type='file'] {
                display: none;
            }
            
            .btn:hover {
                background-color: #ff6a6a;
            }
            
            .link {
                text-decoration: none;
            }